
    <div  class="presentacion" style="margin-left:25%;padding:1px 16px;height:1000px;" >

        <div class="infoUser"  >
            <dl> 
                <dt>Nombre</dt>  <dd>{{currentUsuario.nombre}}
                </dd>
                <hr>
                <dt>Nombre de usuario</dt>
                <dd>{{currentUsuario.nombreUsuario}}
                </dd>
                <hr>
                <dt>Correo</dt>
                <dd>{{currentUsuario.correo}}             
                </dd>
                <hr>
                <dt>Edad</dt>
                <dd>{{currentUsuario.edad}}            
                </dd>
                <hr>
                <dt>Genero</dt>
                <dd>{{currentUsuario.genero}}            
                </dd>
                <hr>
            </dl>
            <button class= "btn btn-info"  ui-sref="usuarioUpdate({usuarioId: currentUsuario.id})">Actualizar información </button>  
            <button class= "btn btn-info" ui-sref="usuariosList">volver a la lista de usuarios</button>
           
                
              

        </div>
        <div class="row" style=" padding-left: 500px; padding-top: 150px">
                    <nav class="acceder">
                <ul>
                    <li>
                        <button ng-click="showForm()" ng-hide="formVisibility" class="btn btn-info" id= "login">Personalizar Vista</button>
                        <div ng-show="formVisibility"id="login-content">
                             <form>
                                 <button style="margin-bottom :  20px; background-color:  yellow; color: black; border-color:  yellow " class= "btn btn-info" ng-click="cambiarA()">Bumblebee </button> 
                                 <button style="margin-bottom: 20px; background-color:  #c0dfd9; color: black; border-color:  #c0dfd9; " class= "btn btn-info" ng-click="cambiarB()">Wooden monkey </button> 
                                 <button style="margin-bottom: 20px; background-color:  #edd9c0; color: black; border-color:  #edd9c0; " class= "btn btn-info" ng-click="cambiarC()">Paper Book</button> 
                                 <button style="margin-bottom: 20px; background-color:  00B967; color: black; border-color: 00B967; " class= "btn btn-info" ng-click="cambiarD()"> green and bronw </button> 
                                 <button style="margin-bottom: 20px; background-color:  #2c3e50; color: white; border-color: #2c3e50; " class= "btn btn-info" ng-click="cambiarE()"> BookZoon  </button> 

                             </form>
                    </li>
                </ul>
            </nav>
            
            </div>
    </div>

       

