
    
 
   
    
        <div style="margin-top:50px; " ng-app="editorialesModule">
            
            <ul ng-repeat="editorial in editoriales" class="list-group">
      
                <li class="list-group-item" style="margin-top:0; margin-bottom: 0; ">         
                        <a><i ng-click="delete(editorial.id)" style="color:lightgray" class=" canequita fas fa-trash pull-right"></i></a>
                                
                        <a ui-sref="editorialesDetail({editorialId: editorial.id})"  style="color:#2c3e50">{{editorial.nombre}}<span class="badge" style="margin-left: 1%;"> {{editorial.libros.length}}</span></a>
                                    
                </li>
                                
            </ul>
                          
                                  
        </div>                         
                                        
                                   
                                    
                                   
                                    
                                    
                                    
                                        
                                   
    
        
        
        
   
    
    