<div ng-if="!isAuthenticated()" class="container">
    <form class="form-signin">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
        <h1 class="form-signin-heading text-muted">Iniciar Sesión</h1>
        <input type="text" class="form-control" placeholder="Nombre de usuario" required="" autofocus="" ng-model="data.username">
        <input type="password" class="form-control" placeholder="Contraseña" required="" ng-model="data.password">
        <br>
        <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="autenticar()">
            Iniciar Sesión
        </button>
        <a class="btn btn-lg btn-primary btn-block" ui-sref="librosList">Cancelar</a>
    </form>
</div>