
    
 
   
    
        <div style="margin-top:50px; " ng-app="cursosModule">
            
            <ul ng-repeat="curso in cursos | filter: buscarPorTipo track by $index " class="list-group">
      
                <li class="list-group-item" style="margin-top:0; margin-bottom: 0; ">         
                        <a><i ng-click="delete(curso.id)" style="color:lightgray" class=" canequita fas fa-trash pull-right"></i></a>
                                
                        <a ui-sref="cursosDetail({cursoId: curso.id})"  style="color:#2c3e50">{{curso.nombre}}<span class="badge" style="margin-left: 1%;background-color:lightgray;"> {{curso.bibliografiaDelCurso.length}}</span></a>
                                    
                </li>
                                
            </ul>
                          
                                  
        </div>                         
                                        
                                   
                                    
                                   
                                    
                                    
                                    
                                        
                                   
    
        
        
        
   
    
    