<div  id="CursoDiv6" class="container-fluid"   >    
    
    <div class="container" style="padding-top:50px " > 
        <h1 style="letter-spacing:5px ">Fotocopias</h1>
            
    </div>
        
</div>



<div class="row" style="margin-top: 5%; ">
		
            <div class="col-sm-2"></div>
            
           
                            <div class="col-sm-7">
                              
                                <div style="width:93%; margin-left:2%;">

                                    <div class="input-group">
                                        
                                   
                                        <input type="text" class=" form-control input-lg" placeholder="Inserta el titulo de la fotocopia que quieres buscar.. " ng-model="busqueda" />
                                     <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                               </div> 
                              
                                
                            
                            
            
                            
                              </div>
                        </div>
            
            <div class="col-sm-3">
                 <button class="btn btn-primary btn-outline pull-right " ui-sref="fotocopiasCreate" style="font-size: 20px; margin-right: 22%"  type="button"><span><i class="fa fa-plus" style="font-size: 24px; "></i></span> Agregar Nueva Fotocopia </button>

            </div>
            
            
	</div>



 
<div class="row" style="margin-top:2%" >
     <div class="col-sm-2">
         
         
     </div>
     <div class="col-sm-7">
  
        <div ng-repeat="fotocopia in fotocopiasRecords|filter:busqueda track by $index ">
            
            <div class="col-sm-4" style=" text-align:center; ">
                <div class = "thumbnail containerFoto" style="width:90%;" >
                    
                    
                    <img  ng-src="{{fotocopia.caratula}}"  class="imageLibro" alt="text" style="width:100%; height:40%; ">
                    
                      <div class="middleLibro">
                          <a ui-sref="fotocopiaDetail({fotocopiaId: fotocopia.id})" style="font-size: 18px; padding-top: 10%;" class="hoverDeLibroIcono"><span><i class="fas fa-eye" style="font-size: 24px; "></i></span> Ver Más   <br> {{fotocopia.precio|currency:COP:0}}</a>
                          
                    <a><i ng-click="delete(fotocopia)" class=" canequita fas fa-trash" style="color:darkgrey; margin-left:15%; "></i></a>
                      </div>
                     <div class="b">
                        {{fotocopia.nombre}}
                    </div>
                    
                     
                </div>
            </div>
            
        </div>
      </div>
     
       <div class="col-sm-3 thumbnail">
          <div class="container ">
            <div class="col-md-5">
                <div class="form-area">  
                  
                        <br>
                        <h3>Filtrar:</h3>
                        <br>
                        <h4 style="margin-left:12px; ">Crear</h4>
                            
                        <div class="form-group col-sm-7">
                            <input type="text" class="form-control"  placeholder="Nombre" required ng-model="data.nombre">
                        </div>     
                       <br>
                       <br>
                       <br>
                       <br>                              
                   <div class="form-group col-sm-9">
                            <h4 style="margin-left:12px; ">Calificación</h4>
                            <form>
                            <input type="radio" name="Calificacion" ng-model="buscarPorCalificacion" value="-1"> Sin Calificacion 
                            <input type="radio" name="Calificacion" ng-model="buscarPorCalificacion" value="1"> 1
                            <input type="radio" name="Calificacion" ng-model="buscarPorCalificacion" value="2" > 2
                            <input type="radio" name="Calificacion" ng-model="buscarPorCalificacion" value="3" > 3
                            <input type="radio" name="Calificacion" ng-model="buscarPorCalificacion" value="4" > 4
                            <input type="radio" name="Calificacion" ng-model="buscarPorCalificacion" value="5"> 5
                            <input type="radio" checked="checked" name="Calificacion" ng-model="buscarPorCalificacion" value="Todos" > Todos
                            
                        </div>
                        <br>
                        <br>
                        
                        <div class="form-group col-sm-9">
                            <label for="sel1">
                                <h4 style="margin-left:12px ">Precio</h4>
                            </label>
                            <select class="form-control" id="sel1" ng-model="buscarPorPrecio">
                                <option value="5000"> >5000</option>
                                <option value="10000"> >10000</option>
                                <option value="15000"> >15000</option>
                                <option value="20000"> >20000</option>
                                <option value="25000"> >25000</option>
                                <option value="30000"> >30000</option>
                                <option value="35000"> >35000</option>
                                <option value="40000"> >40000</option>
                                <option value="45000"> >45000</option>
                                <option value="50000"> >50000</option>
                                <option value="1000000"> Todos</option>
                                
                            </select>

                        </div> 
                                                
                        <div class="form-group col-sm-9">
                            <h4 style="margin-left:12px; ">Profesor</h4>
                            <input type="text" class="form-control"  placeholder="Profesor" ng-model="buscarPorProfesor">
                        </div>   
                        </div>
                        <div class="form-group col-sm-9">
                           
                            <button ng-click="filtroTodo(buscarPorCalificacion,buscarPorPrecio,buscarPorProfesor)" type="button" class="btn btn-primary">Buscar</button>
                            <button ng-click="actualizar()" type="button" class="btn btn-primary">Actualizar</button>
                        </div> 
                        
                   
                        
                    
                </div>
            </div>
         
     </div>     
    
   
</div>




