<form ng-submit="createUsuario()" name="usuario" style="padding-top: 120px">
    <div class="form-group row">
        <div class="form-group col-md-6">
            <label for="nombre" class="col-sm-2">nombre</label>
            <input id="registroU" required ng-model="nombre" class="col-sm-6"/>
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col-md-6">
            <label for="usuarioNombreUsuario" class="col-sm-2">nikeName</label>
            <input id="registroU" required ng-model="nombreUsuario" class="col-sm-6"/>
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col-md-6">
            <label for="correo" class="col-sm-2">correo</label>
            <input id="registroU" required ng-model="correo" class="col-sm-6"/>
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col-md-6">
            <label for="genero" class="col-sm-2">genero</label>
            <input id="registroU" required ng-model="genero" class="col-sm-6"/>
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col-md-6">
            <label for="edad" class="col-sm-2">edad</label>
            <input id="registroU" required ng-model="edad" class="col-sm-6"/>
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col-sm-4" ng-if="!usuario.$valid">
            <div class="alert alert-warning">
                <strong>Warning!</strong><p>All inputs are required*</p>
            </div> 
        </div> 
    </div> 
    <div class="form-group row">
        <div class="form-group col-sm-12">
            <input ng-show="usuario.$valid" type="submit" value="Save" class="btn btn-success"/>
            <a class="btn btn-info" ui-sref="usuariosList">Cancel</a>
        </div>
    </div>
</form>