<div  id="CursoDiv3"  >    
    
    <div class="container" style="padding-top:50px " > 
        <h1 style="letter-spacing:5px ">Autores</h1>
            
    </div>
        
</div>

<div class="container-fluid">
    <div class="panel panel-heading" id ="imagenAutorPrincipal">
   
    </div>
    <div class="botones">
        <a id="{{$index}}-new" class="btn btn-default" ui-sref="autoresCreate()">Agregar</span></a>
    </div>
    <div ng-repeat="autor in autoresRecords">

        <div class="panel panel-default">

            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}" >
                        {{autor.nombre}}
                    </a>
                </h4>
                <div align="right">
                    <a id="{{$index}}-new" class="btn btn-info" ui-sref="autorDetail({autorId: autor.id})">Ver Mas</span></a>
                </div>
            </div>
            <div id="collapse{{$index}}" class="panel-collapse collapse in">
                <div class="panel-body">
                    <h4>
                    <strong>Nombre: </strong>{{autor.nombre}}
                    </h4>
                    <h4><strong>Documentos: </strong></h4>
                     <div ng-show="autor.documentos.length===0">
                                   <div class="alert alert-warning" role="alert"> El autor no tiene libros asociados</div>
                                   
                     </div>
                    
                            <div class="row">
                            <div class="col-sm-2" ng-repeat="fotocopia in autor.documentos">
                   
                               <div class="thumbnail " style="height: 210; width:150px" >
                                                    <img src="{{fotocopia.caratula}}" alt="..." style=" width:150px; height:200" >
                                                        
                                </div>
                               
                           
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

